# Node.js
node_modules/

# Python
*.pyc
*.pyo
*.pyd
__pycache__/
env/
venv/

# Django
*.log
*.pot
*.pyc
__pycache__/
db.sqlite3
media/

# IDE/Editor settings
.vscode/
.idea/

# Operating system files
.DS_Store
Thumbs.db

# Python virtual environment (if used)
*.env
*.venv

# Environment configuration files
.env
